@import "../../app/[locale]/variables.scss";

.label {
    width: max-content;
    padding: 15px 53px;
    border-radius: 50px;
    margin: 0;
    background: $peach;
    color: $white;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;

    @media only screen and (max-width: 1560px) {
        padding: 12px 40px;
        border-radius: 50px;
        font-size: 16px;
    }

    @media only screen and (max-width: 833px) {
        padding: 5.35px 18.9px;
        border-radius: 17.8px;
        font-size: 7px;
    }
}
