@import "../../app/[locale]/variables.scss";

.timeButton {
    width: 190px;
    height: 64px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background: $white;

    &:disabled {
        background: $peach;
    }

    @media (max-width: 1800px) {
        width: 95px;
        height: 32px;
        padding: 13px 30px;
        font-size: 24px;
    }

    @media only screen and (max-width: 833px) {
        border: 0.2px solid rgba(0, 0, 0, 0.2);
        width: 48px;
        height: 16px;
        padding: 3px 8px;
        font-size: 8px;
    }
}

.selected {
    width: 190px;
    height: 64px;
    border: 1px solid $black;
    background: $white;

    @media (max-width: 1800px) {
        width: 95px;
        height: 32px;
        padding: 13px 30px;
        font-size: 24px;
    }

    @media only screen and (max-width: 833px) {
        border: 0.2px solid $black;
        width: 48px;
        height: 16px;
        padding: 3px 8px;
        font-size: 2px;
    }
}
