$main-bg-color: #f5f8ec;
$bg-gold: #e4c967;
$bg-btn-color: #cfd3c2;
$bg-input: #eaede2;
$white: #fff;
$black: #000;
$green: #77fd43;
$peach: #fcd9b7;
$bg-purple-gradient: linear-gradient(
    90deg,
    #833ab4 0%,
    #fd1d1d 50.69%,
    #fcb045 100%
);
$bg-green-gradient: linear-gradient(90deg, #fdfc47 0%, #24fe41 100%);
