@import "../../app/[locale]/variables.scss";

.services {
    background: $white;
    padding: 135px 157px 106px 160px;

    &__container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        max-width: 1920px;
        margin: 0 auto;

        &_items {
            border-bottom: 1px solid $black;
        }
    }

    &__wrapper {
        display: flex;
        align-items: center;
        margin-bottom: 126px;

        &_title {
            font-size: 50px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            text-transform: uppercase;
        }
    }

    @media only screen and (max-width: 1400px) {
        padding: 55px 70px 53px 80px;

        &__container {
            &_items {
                border-bottom: 0.22px solid $black;
            }
        }

        &__wrapper {
            display: flex;
            align-items: center;
            margin-bottom: 25px;

            &_title {
                font-size: 26px;
            }
        }
    }

    @media only screen and (max-width: 833px) {
        padding: 28px 20px 38px 19px;

        &__container {
            &_items {
                border-bottom: 0.22px solid $black;
            }
        }

        &__wrapper {
            display: flex;
            align-items: center;
            margin-bottom: 25px;

            &_title {
                font-size: 13px;
            }
        }
    }
}
